flow2.py
[{"id":"9518a778.954eb8","type":"tab","label":"7.用MQTT查看MCS的值","disabled":false,"info":""},{"id":"cca3ee7f.a2c95","type":"mqtt in","z":"9518a778.954eb8","name":"","topic":"mcs/D0k39k2H/zGyzQBe0EnFUA3Ej/+","qos":"2","datatype":"auto","broker":"63051222.4b9ddc","x":200,"y":200,"wires":[["cffb140a.722f48"]]},{"id":"cffb140a.722f48","type":"csv","z":"9518a778.954eb8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":250,"y":300,"wires":[["542f1c3a.60cb04"]]},{"id":"542f1c3a.60cb04","type":"change","z":"9518a778.954eb8","name":"Get  Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":400,"wires":[["809176e6.dcc748"]]},{"id":"809176e6.dcc748","type":"ui_gauge","z":"9518a778.954eb8","name":"","group":"b223f93b.b94ba8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":400,"wires":[]},{"id":"63051222.4b9ddc","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b223f93b.b94ba8","type":"ui_group","z":"","name":"Status","tab":"e80127f0.86c978","order":1,"disp":true,"width":"6","collapse":false},{"id":"e80127f0.86c978","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
