flow1.py
[{"id":"1e7296ea.77f919","type":"tab","label":"6.用mqtt傳送值","disabled":false,"info":""},{"id":"3eba0c41.9ca294","type":"inject","z":"1e7296ea.77f919","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["44ecb5c.4510d4c"]]},{"id":"b830fcc5.02191","type":"inject","z":"1e7296ea.77f919","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["44ecb5c.4510d4c"]]},{"id":"44ecb5c.4510d4c","type":"mqtt out","z":"1e7296ea.77f919","name":"","topic":"mcs/D0k39k2H/zGyzQBe0EnFUA3Ej/Temperature","qos":"2","retain":"","broker":"63051222.4b9ddc","x":470,"y":200,"wires":[]},{"id":"63051222.4b9ddc","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
